.movie-page {
  padding: 30px;
}
.movie-infos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.movie-infos > img {
  width: 30%;
  margin-right: 30px;
}

.movie-infos > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
